<!DOCTYPE html>
<html>
<head>
  <title>Good Eats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>  Good Eats </h1>

  <nav>
  	<p><%= link_to "Home", root_path %></p>
  	<p>
  	  <%= link_to "Add Your Restaurant", new_restaurant_path %>
  	</p>
  </nav>

<%= yield %>

<footer>
  	<p><%= link_to "Home", root_path %></p>
  	<p>
  	  <%= link_to "Add Your Restaurant", new_restaurant_path %>
  	</p>
</footer>

</body>
</html>
